/* .Weather {
  font-size: 15px;
  margin: 10px;
}



.Weather .main-disp {
  padding-bottom: 1px;
}

.Weather .main-icon {
  position: relative;
  top: -12px;
  padding: 0px 10px 10px 0;
  width: 60px;
}

.Weather .main-temp {
  position: relative;
  font-size: 50px;
  padding: 30px 10px 0 0;
}

.Weather .celcius {
  padding-right: 7px;
}

.Weather .unit {
  position: relative;
  top: -24px;
}

.Weather .unit .active {
  color: rgb(33, 33, 33);
  cursor: default;
  font-weight: bold;
}

.Weather .unit .active:hover {
  text-decoration: none;
} */
.Weather {
  padding: 16px;
}

.Weather .city {
  font-size: 30px;
  line-height: 29px;
  font-weight: 800;
  text-align: left;
}

.Weather .country {
  margin-left: 10px;
  font-size: 15px;
}

.Weather ul {
  margin: 8px 0 8px 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  line-height: 19px;
  list-style: none;
}

.Weather canvas {
  margin-top: 5px;
}

.Weather .main-temp {
  position: relative;
  bottom: 5px;
  font-size: 50px;
  padding: 30px 10px 0 0;
  margin-left: 10px;
}

.Weather .unit {
  position: relative;
  top: -30px;
  padding-right: 7px;
}

.Weather .unit a {
  text-decoration: none;
}
